#quiz-container{
    background-color: rgb(17, 25, 27);
    border-radius: 10px;
    color: rgb(219, 199, 199);
}
#quiz-box{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 10px;
    width: 50%;
    margin: 30px auto;
    font-weight: 600;
    text-transform: capitalize;
    
}

.boxHover:hover{
    background-color: rgb(32, 143, 143);
    font-weight: 600;
    color: white;
}
 
.currectIcon{
    cursor: pointer;
}