#quiz-container{
    background-color: lightblue;
    border-radius: 10px;
}
#quiz-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    width: 50%;
    margin: 30px auto;
    font-weight: 600;
    text-transform: capitalize;
    
}

.boxHover:hover{
    background-color: rgb(32, 143, 143);
    font-weight: 600;
    color: white;
}
 
.currectIcon{
    cursor: pointer;
}